body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__box{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
#menu__toggle{
    visibility: hidden;
}
.hamburger-menu{
    width: 40%;
}
.search{
    margin-right: 2%;
}
#aPoint{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
header{
    background-image: url(../images/Circuit\ Primary.svg);
    height: 900px;
}

.cta {
 border: none;
 background: none;
}

.cta span {
 padding-bottom: 7px;
 letter-spacing: 4px;
 font-size: 10px;
 padding-right: 15px;
 text-transform: uppercase;
}

.cta svg {
 transform: translateX(-8px);
 transition: all 0.3s ease;
}

.cta:hover svg {
 transform: translateX(0);
}

.cta:active svg {
 transform: scale(0.9);
}

.hover-underline-animation {
 position: relative;
 color: black;
 padding-bottom: 20px;
}

.hover-underline-animation:after {
 content: "";
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 1.5px;
 bottom: 0;
 left: 0;
 background-color: #000000;
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}
.headerText{
    width: 30%;
    margin-left: 8%;
}
#headerH1{
    font-size: 100px;
}
.headerInfo{
    height: 750px;
    display: flex;
    align-items: center;
}
.headerSocialNetworks{
    margin-left: 2%;
}
.vimeo,.vk,.pinterest{
    margin-top: 5px;
}
main{
    margin-top: 8%;
}
.mainInfo{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.mainInfoText{
    text-align: center;
    width: 30%;
}
#mainHr{
    margin-inline: 20%;
}
#mainInfoH1,#mainInfoP{
    color: white;
}
@media (max-width:485px) {

    header{
        height: 590px;
    }

    .headerSocialNetworks{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        margin-inline:20px
    }
    .headerInfo{
        height: 350px;
    }
    .headerText{
        width: 70%;
        margin-left: 20px;
    }
    
    #headerH1{
        font-size: 40px;
        margin-top: 150px;
    }
    #menu__toggle{
        visibility:visible;
    }
    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #333;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      .mainInfoText{
        width:85%;
        text-align: justify;
      }
      #mainInfoH1{
        text-align: center;
      }
      .search{
        margin: 15px 15px 0 0;
      }
}